# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node/React
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env/

# Datasets / Images (from model training)
fake/
real-2/
*.jpg
*.jpeg
*.png

# macOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caches
.eslintcache
.stylelintcache
